// ----------- Section Home -----------

.title-features {
    padding: 130px 0 20px;
}

.subtitle-features {
    text-align: center;
    font-size: 24px;
}

.container-btn-home {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.btn-features {
    display: block;
    text-decoration: none;
    width: 200px;
    padding: 15px;
    background: $violet-main;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    margin: 0 10px;
    font-size: 24px;
}

.ghost-btn {
    border: 2px solid $violet-main;
    background: transparent;
    color: $violet-main;
}


// ----------- Section Fonctionnalités -----------

.features {
    width: 90%;
    margin: 125px auto 200px;
    max-width: 1700px;
    min-width: 300px;
    @extend %flex-double-center;
    flex-wrap: wrap;
}

.box-features {
    display: flex;
    width: 400px;
    margin: 40px 20px;
}

.left-img {
    font-size: 50px;
    padding: 5px;
}

.right-txt p:nth-of-type(1){
    font-size: 35px;
    font-weight: bold;
}

.right-txt p:nth-of-type(2){
    font-size: 25px;
    line-height: 1.2;
}

@media screen and (max-width: 800px) {
    .features {
        margin: 125px auto 75px;
    }
}


// ----------- Section Newsletter -----------



.subtitle-newsletter {
    text-align: center;
    font-size: 27px;
    margin: 0 0 50px;
}

.newsletter form {
    width: 50%;
    margin: 0 auto 200px;
    display: flex;
    justify-content: center;
    position: relative;
}

form input {
    border-radius: 9999px;
    padding: 15px;
    border: 1px solid #333;
    font-size: 20px;
    width: 100%;
    outline: none;
}

form button {
    position: absolute;
    right: 0;
    border-radius: 9999px;
    border: 1px solid #333;
    padding: 15px;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
}


// ----------- Responsive Section Newsletter -----------

@media screen and (max-width: 1100px) {

    .newsletter form {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {

    .subtitle-newsletter {
        font-size: 20px;
    }

    form button {
        width: 90px;
        font-size: 17px;
    }

    form input {
        font-size: 17px;
    }
}


// ----------- Section Products -----------

.galery-txt-pics {
    width: 1300px;
    margin: 0 auto;
    @extend %flex-double-center;
    flex-wrap: wrap;
    margin-bottom: 200px;
}

.box-txt-galery {
    width: 500px;
    height: 500px;
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box-txt-galery p:nth-child(1) {
    font-size: 50px;
    font-weight: lighter;
    padding: 0 0 20px 0;
}

.underline-violet {
    width: 200px;
    height: 3px;
    background: $violet-main;
    border: none;
    margin: 0;
}

.box-txt-galery p:nth-child(3) {
    font-size: 35px;
    font-weight: bold;
    padding: 20px 0;
}


.box-txt-galery p:nth-child(4) {
    font-size: 30px;
    padding: 0 0 20px;
}

.box-txt-galery a {
    color: #000;
    font-size: 20x;
    padding: 20px 0;
}


.box-img-galery {
    border: 1px solid #000;
    width: 500px;
    height: 500px;
    background: url('../../ressources/img-galerie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 50px;
}


// ----------- Responsive Section Products -----------

@media screen and (max-width: 1300px) {

    .galery-txt-pics {
        width: 90%;
    }

    .box-txt-galery {
        height: auto;
        align-items: center;
    }

    .box-txt-galery p:nth-child(4) {
        text-align: center;
    }

    .box-img-galery {
        display: none;
    }
}

@media screen and (max-width: 800px) {

    .box-txt-galery p:nth-child(1) {
        font-size: 35px;
    }

    .galery-txt-pics {
        margin-bottom: 100px;
        margin: 5px;
    }

    .box-txt-galery {
        margin: 50px;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {

    .box-txt-galery p:nth-child(1) {
        font-size: 35px;
    }

    .box-txt-galery p:nth-child(3) {
        font-size: 25px;
    }

    .box-txt-galery p:nth-child(4) {
        font-size: 25px;
    }
}